<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <title th:text="${title}"></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing/Landing.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing/utils.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing/Welcome.css}" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <main class="landing landing-main layout">
      <!-- ======= section1 ======= --> 
      <section class="landing-section1__section1 layout">
        <div class="landing-section1__block9 layout">
          <div class="landing-section1__flex layout">
            <div class="landing-section1__flex-item">
              <div class="landing-section1__flex1 layout">
                <a href="#">
                  <h3 class="landing-section1__subtitle1 layout">
                    Insight™ Weather &amp; Co.
                  </h3>
                </a>
                <a href="#">
                  <h3 class="landing-section1__subtitle1 layout">Data</h3>
                </a>
              </div>
            </div>
            <div class="landing-section1__flex-spacer"></div>
            <a href="#">
              <h3 class="landing-section1__subtitle layout">Sign in</h3>
            </a>
          </div>
        </div>
      </section>
      <comment content="======= End section1 =======" break="true"></comment
      ><!-- ======= section2 ======= --> 
      <section class="landing-section2__section2 layout">
        <div class="landing-section2__flex2 layout">
          <div class="landing-section2__block7 layout">
            <div class="landing-section2__component layout">
              <link rel="stylesheet" type="text/css" href="/css/Welcome.css" />

<div
  th:style="'background: url(' + @{/img/1.png} + ') center center/cover no-repeat;'"
  class="welcome welcome-group layout">
  <div class="welcome-group1 layout">
    <div class="welcome-flex2 layout">
      <div class="welcome-txt layout">
        Welcome to Insight™ Weather cyber-physical project.
      </div>
      <div class="welcome-txt1 layout">
        Weather data Project of students of NTUU “KPI”.
      </div>
    </div>
  </div>
</div>

            </div>
          </div>
          <div
            th:style="'background: url(' + @{/img/2.png} + ') center center/cover no-repeat;'"
            class="landing-section2__image2 layout"
          ></div>
          <div
            th:style="'background: url(' + @{/img/3.png} + ') center center/cover no-repeat;'"
            class="landing-section2__block5 layout"
          >
            <div class="landing-section2__block6 layout">
              <div class="landing-section2__flex3 layout">
                <h1 class="landing-section2__hero-title layout">
                  What Insight™ Weather project is about?
                </h1>
                <h2 class="landing-section2__medium-title layout">
                  Being the project of students, that study at the NTUU “KPI”
                  (National Technical University of Ukraine “Kyiv Politechnic
                  Institute”), it’s goal is to serve as a service, that provides
                  collecting, processing, tools for restoring and displaying
                  real physical data. This project is far from complete, but its
                  development is currently opening up many opportunities for
                  both students-developers and customers.
                </h2>
              </div>
            </div>
          </div>
          <div
            th:style="'background: url(' + @{/img/2.png} + ') center center/cover no-repeat;'"
            class="landing-section2__image2 layout1"
          ></div>
          <div class="landing-section2__block3 layout">
            <div class="landing-section2__block3-item">
              <div class="landing-section2__block4 layout">
                <div
                  th:style="'background: url(' + @{/img/4.png} + ') center center/cover no-repeat;'"
                  class="landing-section2__image1 layout"
                ></div>
                <h1 class="landing-section2__big-title layout">Data</h1>
                <h2 class="landing-section2__medium-title1 layout">
                  Description
                </h2>
              </div>
            </div>
            <div class="landing-section2__block3-spacer"></div>
            <div class="landing-section2__block3-item">
              <div class="landing-section2__block4 layout">
                <div
                  th:style="'background: url(' + @{/img/4.png} + ') center center/cover no-repeat;'"
                  class="landing-section2__image1 layout"
                ></div>
                <h1 class="landing-section2__big-title layout">Data</h1>
                <h2 class="landing-section2__medium-title2 layout">
                  Description
                </h2>
              </div>
            </div>
            <div class="landing-section2__block3-spacer"></div>
            <div class="landing-section2__block3-item">
              <div class="landing-section2__block4 layout">
                <div
                  th:style="'background: url(' + @{/img/4.png} + ') center center/cover no-repeat;'"
                  class="landing-section2__image1 layout"
                ></div>
                <h1 class="landing-section2__big-title layout">Data</h1>
                <h2 class="landing-section2__medium-title3 layout">
                  Description
                </h2>
              </div>
            </div>
          </div>
          <div class="landing-section2__block1 layout">
            <div class="landing-section2__flex4 layout">
              <div class="landing-section2__block2 layout">
                <div class="landing-section2__block2-item">
                  <div
                    th:style="'background: url(' + @{/img/5.png} + ') center center/cover no-repeat;'"
                    class="landing-section2__image layout"
                  ></div>
                </div>
                <div class="landing-section2__block2-item1">
                  <div
                    th:style="'background: url(' + @{/img/6.png} + ') center center/cover no-repeat;'"
                    class="landing-section2__icon layout"
                  ></div>
                </div>
              </div>
              <hr class="landing-section2__line layout" />
              <h4 class="landing-section2__highlights-box layout">
                <pre class="landing-section2__highlights">
© 2022 Insight Company. All rights reserved. All trademarks are property of their respective owners in the US and other countries.
VAT included in all prices where applicable.   Privacy Policy   |   Service terms   |  Refunds   |   Cookies
</pre
                >
              </h4>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End section2 ======= --> 

    </main>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
