<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
<head>
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <link
          rel="stylesheet"
          type="text/css"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous"
  />
  <link
          rel="stylesheet"
          type="text/css"
          href="https://unpkg.com/aos@2.3.1/dist/aos.css"
  />
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/Page.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/utils.css}" />

  <script
          type="text/javascript"
          src="https://unpkg.com/aos@2.3.1/dist/aos.js"
  ></script>
  <script
          type="text/javascript"
          src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
  ></script>
</head>

<body style="display: flex; flex-direction: column">
<main class="page page-main layout">
  <!-- ======= section1 ======= -->
  <section class="page-section1__section1 layout">
    <div class="page-section1__block8 layout">
      <div class="page-section1__box4 layout"></div>
      <a href="#">
        <h3 class="page-section1__subtitle layout">Sign in</h3>
      </a>
      <a href="#">
        <h3 class="page-section1__subtitle1 layout">Data</h3>
      </a>
      <a href="#">
        <h3 class="page-section1__subtitle1 layout1">
          Insight™ Weather &amp; Co.
        </h3>
      </a>
    </div>
  </section>
  <comment content="======= End section1 =======" break="true"></comment
  ><!-- ======= section2 ======= -->
  <section class="page-section2__section2 layout">
    <div class="page-section2__block6 layout">
      <div
              th:style="'background:url(' + @{/img/1.png} + ') center center/contain no-repeat;'"
              class="page-section2__group layout"
      >
        <div class="page-section2__block7 layout">
          <article class="page-section2__flex layout">
            <h1 class="page-section2__hero-title layout">
              Welcome to Insight™ Weather cyber-physical project.
            </h1>
            <h2 class="page-section2__medium-title layout">
              Weather data Project of students of NTUU “KPI”.
            </h2>
          </article>
        </div>
      </div>
    </div>
  </section>
  <comment content="======= End section2 =======" break="true"></comment
  ><!-- ======= section3 ======= -->
  <section class="page-section3__section3 layout">
    <div
            style="--src:url(/assets/8c8be73aca8e061e18b76f1a380e36ca.png)"
            class="page-section3__image2 layout"
    ></div>
  </section>
  <comment content="======= End section3 =======" break="true"></comment
  ><!-- ======= section4 ======= -->
  <section class="page-section4__section4 layout">
    <div class="page-section4__block4 layout">
      <div
              style="--src:url(/assets/df2fc6fe666ca748aa79d794fe0c83f3.png)"
              class="page-section4__group layout"
      >
        <div class="page-section4__block5 layout">
          <div class="page-section4__flex1 layout">
            <h1 class="page-section4__hero-title layout">
              What Insight™ Weather project is about?
            </h1>
            <h2 class="page-section4__medium-title layout">
              Being the project of students, that study at the NTUU “KPI”
              (National Technical University of Ukraine “Kyiv Politechnic
              Institute”), it’s goal is to serve as a service, that provides
              collecting, processing, tools for restoring and displaying
              real physical data. This project is far from complete, but its
              development is currently opening up many opportunities for
              both students-developers and customers.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <comment content="======= End section4 =======" break="true"></comment
  ><!-- ======= section5 ======= -->
  <section class="page-section5__section5 layout">
    <div
            style="--src:url(/assets/8c8be73aca8e061e18b76f1a380e36ca.png)"
            class="page-section5__image2 layout"
    ></div>
  </section>
  <comment content="======= End section5 =======" break="true"></comment
  ><!-- ======= section6 ======= -->
  <section class="page-section6__section6 layout">
    <div class="page-section6__block3 layout">
      <div
              style="--src:url(/assets/d153047787e88abc1053893cb04a0139.png)"
              class="page-section6__image1 layout"
      ></div>
      <h1 class="page-section6__big-title layout">Data</h1>
      <h2 class="page-section6__medium-title layout">Description</h2>
    </div>
  </section>
  <comment content="======= End section6 =======" break="true"></comment
  ><!-- ======= section7 ======= -->
  <section class="page-section7__section7 layout">
    <div class="page-section7__cover-block layout">
      <h4 class="page-section7__highlights-box layout">
            <pre class="page-section7__highlights">
© 2022 Insight Company. All rights reserved. All trademarks are property of their respective owners in the US and other countries.
VAT included in all prices where applicable.   Privacy Policy   |   Service terms   |  Refunds   |   Cookies
</pre
>
      </h4>
      <hr class="page-section7__line layout" />
      <div class="page-section7__block1 layout">
        <div class="page-section7__block2 layout">
          <div class="page-section7__block2-item">
            <div
                    style="--src:url(/assets/3196bcd3a669e67d88a909bced78367a.png)"
                    class="page-section7__image layout"
            ></div>
          </div>
          <div class="page-section7__block2-spacer"></div>
          <div class="page-section7__block2-item1">
            <div
                    style="--src:url(/assets/27a64f566ca6796a23ac1e1a9931f9c0.png)"
                    class="page-section7__icon layout"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= End section7 ======= -->

</main>
<script type="text/javascript">
      AOS.init();
    </script>
</body>
</html>
